body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.signin-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(45deg, #d36a72, #edab8b, #f3cc8a); */
  background: linear-gradient(45deg,#f3cc8a,#d36a72, #4c1d95, #7c3aed);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

.signin-cardWrapper {
  display: flex;
  position: relative;
  width: 900px;
  height: 600px;
  align-items: center;
}

.signin-leftPanel {
  flex: 1;
  /* background-color: #003366; */
    background-color: #2e1065;
  border-radius: 40px;
  padding: 100px;
  color: #ddd6fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.signin-title {
  font-size: 42px;
  margin: 0 0 10px 0;
}

.signin-subtitle {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.signin-moodText {
  font-size: 28px;
  margin: 0;
}

.signin-arrow {
  font-size: 50px;
  margin-left: 60px;
  line-height: 1;
}

.signin-emoji {
  position: absolute;
  bottom: 55px;
  right: 550px;
  font-size: 100px;
  user-select: none;
}

.signin-rightPanel {
  flex: 1.9;
  background-color: #ededdc;
  border-radius: 40px;
  margin-left: -50px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 4px solid #003366;
  z-index: 3;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-formTitle {
  font-size: 42px;
  margin-bottom: 40px;
  color: #003366;
}

.signin-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signin-inputGroup input {
  padding: 12px 5px;
  border: none;
  border-bottom: 2px solid #003366;
  background: transparent;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.signin-inputGroup input:focus {
  border-bottom-color: #d36a72;
}

.error {
  color: #d36a72;
  font-size: 12px;
  margin-top: 4px;
}

.signin-forgotText {
  margin: 20px 0;
  font-size: 14px;
  color: #555;
  cursor: pointer;
  text-decoration: underline;
}

.signin-submitBtn {
  background: #000;
  color: #fff;
  padding: 12px 60px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.signin-submitBtn:hover {
  background: #222;
  transform: translateY(-2px);
}