
.footer{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #e4e6e8;
    padding: 15px 30px; 
    color: #767678;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 4px #e7e9ea; 
    width: 100%;
    height: 3cap;
    
}

.footer-sentences {
    display: flex; 
    gap: 20px; 
}

.footer-sentences p {
    margin: 0; 
    font-size: 14px;
}
.footer-sentences p:not(:first-child)::before {
    content: "|";
    margin: 0 12px;  
    color: c1c5c9; 
}